.Form {
  font-family: var(--primary-font);
}

form .form-control {
  border-color: transparent;
  border-bottom: 2px;
}
form .form-control:focus {
  border-color: white;
  box-shadow: none;
}

.buttons button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}
.fa > svg {
  border-width: 0 !important;
}
