.Form {
  font-family: var(--primary-font);
}

form .form-control {
  border-color: transparent;
  border-bottom: 2px;
}
form .form-control:focus {
  border-color: white;
  box-shadow: none;
}

.buttons .btn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  border: none;
}
.buttons .btn:disabled {
  background-color: var(--secondary-color);
}
.btn-primary:not([disabled]) {
  background-color: var(--primary-color);
}
.btn-primary:not([disabled]):hover {
  /* Add the styles you want to apply when the button is hovered over here */
  background-color: var(--primary-color);
}
.btn-primary:not([disabled]):active {
  /* Add the styles you want to apply when the button is actively clicked here */
  background-color: var(--primary-color) !important;
}
