:root {
  --primary-color: #1c819e;
  --secondary-color: rgb(201, 201, 92);
  --additional-color: #d4dab9;
  --primary-font: Rubik;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
