:root {
  --primary-color: #101223;
  --secondary-color: #777986;
  --additional-color: #d4dab9;
  --primary-font: Rubik;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
